<div class="board">
  <h1 class="board_title">＜<%= @board.title %>＞</h1>
  <div class="board_name">
    <p>名前： <%= @board.name %></p>
  </div>
  <div class="board_content">
    <p>内容： <%= @board.content %></p>
  </div>

  <div class="board_detail_actions">
    <div class="dropdown">
      <a class="btn btn-success" href="#">編集する</a>
    </div>
  </div>

  <%= link_to root_path do %>
    <div class="float_btn">
      <i class="fa fa-arrow-left"></i>
    </div>
  <% end %>
  
</div>
