<div class="board">
  <h1 class="board_title">＜<%= @board.title %>＞</h1>
  <div class="board_name">
    <p>名前： <%= @board.name %></p>
  </div>
  <div class="board_content">
    <p>内容： <%= @board.content %></p>
  </div>
  
</div>
